<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Controller</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>
<body ng-controller="parentCtrl">
<div>
  <p>親スコープ</p>
  <input type="text" ng-model="author.name">
</div>

<div ng-controller="childCtrl">
  <p>子スコープ</p>
  <input type="text" ng-model="author.name">
</div>

<script>
angular.module('myApp', [])
  .controller('parentCtrl', ['$scope', ($scope) => {
    const author = {};
    author.name = 'Kanai';
    $scope.author = author;
  }])
  .controller('childCtrl', ['$scope', ($scope) => {
  }]);
</script>
</body>
</html>